---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Comments from '../components/comments.astro'
import Footer from '../components/footer.astro'
import menu from '../assets/svg/menu.svg'

const linkLocation =
  'https://www.google.es/maps/place/La+Arboleda+en+Carpinteria/@-32.3950068,-65.0057687,16z/data=!4m6!3m5!1s0x95d2e3220122fe8d:0x841412906b839df!8m2!3d-32.3950068!4d-65.0013913!16s%2Fg%2F11h21_28c7?hl=es&entry=ttu'
---

<Layout title='La Arboleda'>
  <main
    class='min-h-screen flex flex-col items-center justify-center bg-white p-4 md:p-8'
  >
    <section class='w-full max-w-3xl mx-auto'>
      <header class='mb-10 md:mb-20 flex items-center justify-between'>
        <div class='relative inline-block'>
          <h1 class='text-4xl md:text-6xl font-light tracking-tight'>
            La Arboleda
          </h1>
          <div class='absolute -bottom-2 left-0 w-full h-[2px] bg-[#d1272d]'>
          </div>
        </div>
        <nav>
          <button
            class='md:hidden p-2 rounded-lg absolute top-5 right-4'
            aria-label='Abrir menú'
            onclick='document.querySelector("ul").classList.toggle("hidden")'
          >
            <img src={menu.src} alt='Menú' class='h-6' />
          </button>
          <ul
            class='md:flex hidden md:flex-row space-y-6 md:space-y-0 md:space-x-12 absolute top-16 right-4 md:static bg-white md:bg-transparent p-4 md:p-0 rounded-lg shadow-lg md:shadow-none transition-all duration-300'
          >
            <li>
              <a
                href='/gallery'
                class='text-xl md:text-2xl font-medium hover:text-[#d1272d] transition-colors duration-300'
              >
                Galeria
              </a>
            </li>
            <li>
              <a
                href={linkLocation}
                target='_blank'
                class='text-xl md:text-2xl font-medium hover:text-[#d1272d] transition-colors duration-300'
              >
                Ubicacion
              </a>
            </li>
            <li>
              <a
                href='/contact'
                class='text-xl md:text-2xl font-medium hover:text-[#d1272d] transition-colors duration-300'
              >
                Contacto
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <article class='min-h-screen bg-white p-2 md:p-8'>
        <img
          src='https://res.cloudinary.com/ddmtmwlja/image/upload/v1741452861/npldjwb3rpg8plpzkvxr.webp'
          alt='Vista de la entrada a las cabañas'
          class='w-full md:h-auto rounded-lg mb-8'
        />
        <section class='mb-16 space-y-6 text-lg leading-relaxed'>
          <p>
            <span class='font-medium text-[#d1272d]'
              >La Arboleda en Carpintería</span
            > posee dos unidades vacacionales en un predio de 2500 metros cuadrados,
            rodeado por el entorno natural de la Sierra de los Comechingones.
          </p>
          <p>
            Estás cabañas son el refugio perfecto para aquellos que buscan
            escapar del bullicio de la ciudad y sumergirse en la serenidad,
            rodeadas de naturaleza y con la imponente presencia de las Sierras
            de los Comechingones como telón de fondo, te espera una experiencia
            inolvidable en Carpintería, San Luis.
          </p>
        </section>

        <section
          class='mb-10 text-lg leading-relaxed flex flex-col md:flex-row md:items-center gap-2'
        >
          <img
            src='https:res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/bpqjmmgqp0jzfj4mijur.webp'
            alt='Fachada de una de las cabañas del complejo'
            class='h-96 object-cover rounded-lg md:w-1/2'
          />
          <div class='h-96 md:w-1/2 flex flex-col justify-between'>
            <p>
              Nuestras cabañas
              <span class='font-medium text-[#d1272d]'
                >están equipadas para cuatro personas.</span
              >
              Cada una cuenta con 1 dormitorio. Cocina comedor completa, TV con DirecTV,
              WiFi en todo el complejo, cochera, asador y piscina.
            </p>
            <img
              src='https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/zeiwhse3dhrriaje08py.webp'
              alt='Fachada de la cabaña con sillas en el exterior'
              class='md:w-full object-cover aspect-auto rounded-lg'
            />
          </div>
        </section>

        <Comments />
      </article>
    </section>
  </main>
  <Footer />
</Layout>
